<!doctype html>
<html lang="en" lang="{{ request.locale.iso_code  }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }}</title>
    {{ 'theme.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'theme.js' | asset_url }}" defer></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    {{ content_for_header }}

    {% style %}
    :root {
        --font-body-family: {{ settings.type_body_font.family | default: 'Arial, sans-serif' }};
        --font-body-style: {{ settings.type_body_font.style }};
        --font-body-weight: {{ settings.type_body_font.weight }};

        --font-heading-family: {{ settings.type_header_font.style }}
    }
    {% endstyle %}
    
  </head>
  
  <body>
    
    {% sections 'header-group' %}
    
    <main class="bg-stone-600">
      {{ content_for_layout }}
    </main>

    {% sections 'footer-group' %}
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  </body>
</html>
