<footer>
  <div class="section-container">
    <div class="column-1">
      <div class="logo">
        {% render 'logo' %}
      </div>
      <div class="social-media">
        <div class="facebook">
          <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M34 17.0426C34 7.63509 26.384 0 17 0C7.616 0 0 7.63509 0 17.0426C0 25.2912 5.848 32.1594 13.6 33.7444V22.1554H10.2V17.0426H13.6V12.782C13.6 9.49273 16.269 6.81704 19.55 6.81704H23.8V11.9298H20.4C19.465 11.9298 18.7 12.6967 18.7 13.6341V17.0426H23.8V22.1554H18.7V34C27.285 33.1479 34 25.8877 34 17.0426Z"
                fill="black" />
          </svg>
        </div>
        <div class="linkedin">
          <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M26.6667 0C27.5507 0 28.3986 0.351189 29.0237 0.976311C29.6488 1.60143 30 2.44928 30 3.33333V26.6667C30 27.5507 29.6488 28.3986 29.0237 29.0237C28.3986 29.6488 27.5507 30 26.6667 30H3.33333C2.44928 30 1.60143 29.6488 0.976311 29.0237C0.351189 28.3986 0 27.5507 0 26.6667V3.33333C0 2.44928 0.351189 1.60143 0.976311 0.976311C1.60143 0.351189 2.44928 0 3.33333 0H26.6667ZM25.8333 25.8333V17C25.8333 15.559 25.2609 14.177 24.2419 13.1581C23.223 12.1391 21.841 11.5667 20.4 11.5667C18.9833 11.5667 17.3333 12.4333 16.5333 13.7333V11.8833H11.8833V25.8333H16.5333V17.6167C16.5333 16.3333 17.5667 15.2833 18.85 15.2833C19.4688 15.2833 20.0623 15.5292 20.4999 15.9668C20.9375 16.4043 21.1833 16.9978 21.1833 17.6167V25.8333H25.8333ZM6.46667 9.26667C7.20927 9.26667 7.92146 8.97167 8.44657 8.44657C8.97167 7.92146 9.26667 7.20927 9.26667 6.46667C9.26667 4.91667 8.01667 3.65 6.46667 3.65C5.71964 3.65 5.00321 3.94675 4.47498 4.47498C3.94675 5.00321 3.65 5.71964 3.65 6.46667C3.65 8.01667 4.91667 9.26667 6.46667 9.26667ZM8.78333 25.8333V11.8833H4.16667V25.8333H8.78333Z"
                fill="black" />
          </svg>
        </div>
        <div class="pinterest">
          <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M17 33.9983C26.3891 33.9983 34 26.3878 34 16.9992C34 7.61052 26.3891 0 17 0C7.6109 0 0 7.61052 0 16.9992C0 23.809 4.0052 29.6839 9.7886 32.397L13.6816 14.0957C13.7813 13.6608 14.0481 13.2826 14.4242 13.0426C14.8004 12.8026 15.2558 12.7201 15.6922 12.8129C16.1287 12.9058 16.5111 13.1664 16.757 13.5387C17.003 13.911 17.0927 14.365 17.0068 14.8029C16.541 16.9992 16.133 17.8491 16.1517 18.8691C16.1806 20.467 16.6158 21.3203 17.0374 21.7623C17.4675 22.2128 18.088 22.4559 18.8989 22.4423C19.7268 22.4253 20.6635 22.1346 21.4931 21.611C23.1064 20.5979 23.8 18.8606 23.8 16.9992C23.7989 15.989 23.5727 14.9918 23.1379 14.08C22.7031 13.1682 22.0705 12.3647 21.2863 11.728C20.5021 11.0913 19.5858 10.6373 18.6041 10.399C17.6224 10.1607 16.5999 10.1441 15.611 10.3504C14.6221 10.5568 13.6916 10.9808 12.8871 11.5918C12.0827 12.2028 11.4244 12.9853 10.9603 13.8825C10.4961 14.7797 10.2377 15.7691 10.2038 16.7787C10.1699 17.7883 10.3614 18.7927 10.7644 19.719C10.9287 20.1291 10.9268 20.5871 10.7593 20.9959C10.5917 21.4047 10.2715 21.7322 9.86662 21.909C9.46172 22.0858 9.00388 22.098 8.59012 21.9431C8.17636 21.7881 7.83917 21.4782 7.65 21.0789C6.97326 19.5268 6.69361 17.8306 6.83626 16.1434C6.97892 14.4562 7.53939 12.8311 8.46713 11.4146C9.39486 9.99811 10.6607 8.83486 12.1503 8.02981C13.64 7.22475 15.3067 6.8032 17 6.8032C18.6933 6.8032 20.36 7.22475 21.8497 8.02981C23.3393 8.83486 24.6051 9.99811 25.5329 11.4146C26.4606 12.8311 27.0211 14.4562 27.1637 16.1434C27.3064 17.8306 27.0267 19.5268 26.35 21.0789C25.7244 22.5205 24.582 23.6866 23.3036 24.4907C22.0201 25.2981 20.4867 25.8149 18.9601 25.8421C17.5678 25.8676 16.1177 25.4817 14.9498 24.4686L13.022 33.5325C14.297 33.8385 15.6298 34 16.9983 34L17 33.9983Z"
                fill="black" />
          </svg>
        </div>
        <div class="instagram">
          <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M9.86 0H24.14C29.58 0 34 4.42 34 9.86V24.14C34 26.755 32.9612 29.263 31.1121 31.1121C29.263 32.9612 26.755 34 24.14 34H9.86C4.42 34 0 29.58 0 24.14V9.86C0 7.24497 1.03882 4.73704 2.88793 2.88793C4.73704 1.03882 7.24497 0 9.86 0ZM9.52 3.4C7.89687 3.4 6.34023 4.04478 5.19251 5.19251C4.04478 6.34023 3.4 7.89687 3.4 9.52V24.48C3.4 27.863 6.137 30.6 9.52 30.6H24.48C26.1031 30.6 27.6598 29.9552 28.8075 28.8075C29.9552 27.6598 30.6 26.1031 30.6 24.48V9.52C30.6 6.137 27.863 3.4 24.48 3.4H9.52ZM25.925 5.95C26.4886 5.95 27.0291 6.17388 27.4276 6.5724C27.8261 6.97091 28.05 7.51142 28.05 8.075C28.05 8.63859 27.8261 9.17909 27.4276 9.5776C27.0291 9.97612 26.4886 10.2 25.925 10.2C25.3614 10.2 24.8209 9.97612 24.4224 9.5776C24.0239 9.17909 23.8 8.63859 23.8 8.075C23.8 7.51142 24.0239 6.97091 24.4224 6.5724C24.8209 6.17388 25.3614 5.95 25.925 5.95ZM17 8.5C19.2543 8.5 21.4163 9.39553 23.0104 10.9896C24.6045 12.5837 25.5 14.7457 25.5 17C25.5 19.2543 24.6045 21.4163 23.0104 23.0104C21.4163 24.6045 19.2543 25.5 17 25.5C14.7457 25.5 12.5837 24.6045 10.9896 23.0104C9.39553 21.4163 8.5 19.2543 8.5 17C8.5 14.7457 9.39553 12.5837 10.9896 10.9896C12.5837 9.39553 14.7457 8.5 17 8.5ZM17 11.9C15.6474 11.9 14.3502 12.4373 13.3938 13.3938C12.4373 14.3502 11.9 15.6474 11.9 17C11.9 18.3526 12.4373 19.6498 13.3938 20.6062C14.3502 21.5627 15.6474 22.1 17 22.1C18.3526 22.1 19.6498 21.5627 20.6062 20.6062C21.5627 19.6498 22.1 18.3526 22.1 17C22.1 15.6474 21.5627 14.3502 20.6062 13.3938C19.6498 12.4373 18.3526 11.9 17 11.9Z"
                fill="black" />
          </svg>
        </div>
      </div>
    </div>
    <div class="column-2 star">
      <svg width="92" height="112" viewBox="0 0 92 112" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
            d="M46 0C46 30.928 25.4051 56 0 56C25.4051 56 46 81.072 46 112C46 81.072 66.5949 56 92 56C66.5949 56 46 30.928 46 0Z"
            fill="#363B3E" />
      </svg>
    </div>
    <div class="column-3">
      <div class="sub_column-1">
        {% assign services_link = linklists['rt-menu'].links | where: 'title', 'Services' | first %}
        <a href="{{ services_link.url }}">Services</a>
        {% if services_link.links %}
          <ul>
            {% for childLink in services_link.links %}
              <li>
                <a href="{{ childLink.url }}">{{ childLink.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="sub_column-2">
        {% assign about_link = linklists['rt-menu'].links | where: 'title', 'About Projects' | first %}
        <a href="{{ about_link.url }}">About Projects</a>
        {% if about_link.links %}
          <ul>
            {% for childLink in about_link.links %}
              <li>
                <a href="{{ childLink.url }}">{{ childLink.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="sub_column-3">
        {% assign testimonials_link = linklists['rt-menu'].links | where: 'title', 'Testimonials' | first %}
        <a href="{{ testimonials_link.url }}">Testimonials</a>
        {% if testimonials_link.links %}
          <ul>
            {% for childLink in testimonials_link.links %}
              <li>
                <a href="{{ childLink.url }}">{{ childLink.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="notices">
    <div class="section-container">
      <p>© 2024 Real Trust. All rights reserved.</p>
      <div class="links">
        <p>Privacy Policy</p>
        <p>Terms of Service</p>
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer Social Media",
  "settings": [
    {
      "type": "text",
      "id": "footer_social_media_1_url",
      "label": "Facebook URL",
      "default": "#"
    },
    {
      "type": "text",
      "id": "footer_social_media_2_url",
      "label": "Linkedin URL",
      "default": "#"
    },
    {
      "type": "text",
      "id": "footer_social_media_3_url",
      "label": "Pinterest URL",
      "default": "#"
    },
    {
      "type": "text",
      "id": "footer_social_media_4_url",
      "label": "Instagram URL",
      "default": "#"
    }
  ]
}
{% endschema %}
