<header
  class="scroll"
  x-data="
    {

        is_menu_opened: false,
        is_theme_dark: true,

        init() {

            /* Theme functionality */
            // Get the theme from device preferences
            const prefers_dark = window.matchMedia('(prefers-color-scheme: dark)').matches;

            if(prefers_dark && localStorage.getItem('theme') !== 'light') {
                document.documentElement.classList.add('dark');
                this.is_theme_dark = true;
            } else {
                this.is_theme_dark = false;
            }
        },

        toggleTheme() {
            this.is_theme_dark = !this.is_theme_dark;

            if (this.is_theme_dark) {
                document.documentElement.classList.add('dark');
                localStorage.setItem('theme', 'dark');
            } else {
                document.documentElement.classList.remove('dark');
                localStorage.setItem('theme', 'light');
            }
        }
    }
  "
>
  <div class="section-container">
    <div class="logo">
      <a href="/">
        {% render 'logo' %}
        </a>
        <p>{{ request.path }}</p>
    </div>
    <div class="menu">
      <nav class="navigation">
        {% if linklists['rt-menu'] %}
          {% for link in linklists['rt-menu'].links %}
            <div class="menu-item {% if link.url == request.path %} current-page {% endif %} ">
              <svg
                width="92"
                height="112"
                viewBox="0 0 92 112"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M46 0C46 30.928 25.4051 56 0 56C25.4051 56 46 81.072 46 112C46 81.072 66.5949 56 92 56C66.5949 56 46 30.928 46 0Z"
                    fill="#363B3E" />
              </svg>
              <a href="{{ link.url }}">{{ link.title }}</a>
            </div>
          {% endfor %}
        {% endif %}

        <div class="btn-secondary">
          <a href="">
            Contact Us
            <svg
              width="15"
              height="10"
              viewBox="0 0 15 10"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M14 5L1 5M14 5L10 9M14 5L10 1" stroke="black" stroke-linecap="round"
                  stroke-linejoin="round" />
            </svg>
          </a>
        </div>
        <div class="theme__toggler" @click="toggleTheme()">
          <svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="rt-icon-lamp-2">
                <path id="lamp" fill-rule="evenodd" clip-rule="evenodd"
                    d="M9.47188 0C9.71681 3.23106e-05 9.95322 0.0899562 10.1363 0.252715C10.3193 0.415475 10.4362 0.639749 10.4649 0.883L10.4719 1V2.1L18.6469 10.276C19.2559 10.884 18.8699 11.906 18.0469 11.994L17.9329 12H14.3719C14.1443 13.1105 13.5462 14.1108 12.6757 14.8369C11.8051 15.563 10.7138 15.9719 9.58046 15.9965C8.44713 16.0211 7.33904 15.6601 6.43777 14.9725C5.53651 14.2849 4.89553 13.3116 4.61988 12.212L4.57188 12H1.01188C0.150881 12 -0.298119 11.005 0.220881 10.361L0.297881 10.276L8.47188 2.1V1C8.47188 0.734784 8.57724 0.48043 8.76477 0.292893C8.95231 0.105357 9.20666 0 9.47188 0ZM12.3019 12H6.64188C6.84348 12.5703 7.21271 13.0663 7.70115 13.4231C8.18959 13.7799 8.77444 13.9808 9.37903 13.9994C9.98361 14.018 10.5797 13.8534 11.0892 13.5273C11.5986 13.2012 11.9976 12.7288 12.2339 12.172L12.3019 12Z"
                    fill="black" />
                <path id="ray_1"
                    d="M15.0662 14.6591C14.8232 14.6744 14.5941 14.7778 14.4219 14.95C14.2344 15.1375 14.1291 15.3918 14.1291 15.657C14.1291 15.9222 14.2344 16.1765 14.4219 16.364L15.1289 17.071L15.2229 17.154C15.4239 17.3094 15.6765 17.3825 15.9294 17.3584C16.1823 17.3343 16.4166 17.2148 16.5846 17.0243C16.7527 16.8337 16.8419 16.5863 16.8341 16.3324C16.8264 16.0784 16.7222 15.837 16.5429 15.657L15.8359 14.95L15.7419 14.867C15.5495 14.7178 15.3092 14.6438 15.0662 14.6591Z"
                    fill="black" />
                <path id="ray_2"
                    d="M10.179 17.2929C9.99145 17.1054 9.73709 17 9.47188 17C9.20666 17 8.95231 17.1054 8.76477 17.2929C8.57724 17.4804 8.47188 17.7348 8.47188 18V19C8.47188 19.2652 8.57724 19.5196 8.76477 19.7071C8.95231 19.8946 9.20666 20 9.47188 20C9.73709 20 9.99145 19.8946 10.179 19.7071C10.3665 19.5196 10.4719 19.2652 10.4719 19V18C10.4719 17.7348 10.3665 17.4804 10.179 17.2929Z"
                    fill="black" />
                <path id="ray_3"
                    d="M4.81466 15.657C4.81466 15.3918 4.70935 15.1375 4.52188 14.95C4.33435 14.7625 4.08004 14.6572 3.81487 14.6572C3.54971 14.6572 3.2954 14.7625 3.10787 14.95L2.40087 15.657C2.21872 15.8456 2.11792 16.0982 2.1202 16.3604C2.12248 16.6226 2.22765 16.8734 2.41306 17.0588C2.59846 17.2442 2.84928 17.3494 3.11147 17.3517C3.37367 17.3539 3.62627 17.2532 3.81487 17.071L4.52188 16.364C4.70935 16.1765 4.81466 15.9222 4.81466 15.657Z"
                    fill="black" />
            </g>
          </svg>
        </div>
      </nav>
    </div>
    <div class="menu--mobile" :class="is_menu_opened ? 'opened': ''">
      <nav class="navigation">
        {% if linklists['rt-menu'] %}
          {% for link in linklists['rt-menu'].links %}
            <div class="menu-item {% if link.url == request.path %} current-page {% endif %} ">
              <svg
                width="92"
                height="112"
                viewBox="0 0 92 112"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M46 0C46 30.928 25.4051 56 0 56C25.4051 56 46 81.072 46 112C46 81.072 66.5949 56 92 56C66.5949 56 46 30.928 46 0Z"
                    fill="#363B3E" />
              </svg>
              <a href="{{ link.url }}">{{ link.title }}</a>
            </div>
          {% endfor %}
        {% endif %}

        <div class="menu-item cta">
          <a href="">
            Contact Us
            <svg
              width="15"
              height="10"
              viewBox="0 0 15 10"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M14 5L1 5M14 5L10 9M14 5L10 1" stroke="black" stroke-linecap="round"
                  stroke-linejoin="round" />
            </svg>
          </a>
        </div>
      </nav>
    </div>
    <div class="theme__toggler theme__toggler--mobile" @click="toggleTheme()">
      <svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="rt-icon-lamp-2">
            <path id="Vector" fill-rule="evenodd" clip-rule="evenodd"
                d="M9.47188 0C9.71681 3.23106e-05 9.95322 0.0899562 10.1363 0.252715C10.3193 0.415475 10.4362 0.639749 10.4649 0.883L10.4719 1V2.1L18.6469 10.276C19.2559 10.884 18.8699 11.906 18.0469 11.994L17.9329 12H14.3719C14.1443 13.1105 13.5462 14.1108 12.6757 14.8369C11.8051 15.563 10.7138 15.9719 9.58046 15.9965C8.44713 16.0211 7.33904 15.6601 6.43777 14.9725C5.53651 14.2849 4.89553 13.3116 4.61988 12.212L4.57188 12H1.01188C0.150881 12 -0.298119 11.005 0.220881 10.361L0.297881 10.276L8.47188 2.1V1C8.47188 0.734784 8.57724 0.48043 8.76477 0.292893C8.95231 0.105357 9.20666 0 9.47188 0ZM12.3019 12H6.64188C6.84348 12.5703 7.21271 13.0663 7.70115 13.4231C8.18959 13.7799 8.77444 13.9808 9.37903 13.9994C9.98361 14.018 10.5797 13.8534 11.0892 13.5273C11.5986 13.2012 11.9976 12.7288 12.2339 12.172L12.3019 12Z"
                fill="black" />
            <path id="ray_1"
                d="M15.0662 14.6591C14.8232 14.6744 14.5941 14.7778 14.4219 14.95C14.2344 15.1375 14.1291 15.3918 14.1291 15.657C14.1291 15.9222 14.2344 16.1765 14.4219 16.364L15.1289 17.071L15.2229 17.154C15.4239 17.3094 15.6765 17.3825 15.9294 17.3584C16.1823 17.3343 16.4166 17.2148 16.5846 17.0243C16.7527 16.8337 16.8419 16.5863 16.8341 16.3324C16.8264 16.0784 16.7222 15.837 16.5429 15.657L15.8359 14.95L15.7419 14.867C15.5495 14.7178 15.3092 14.6438 15.0662 14.6591Z"
                fill="black" />
            <path id="ray_2"
                d="M10.179 17.2929C9.99145 17.1054 9.73709 17 9.47188 17C9.20666 17 8.95231 17.1054 8.76477 17.2929C8.57724 17.4804 8.47188 17.7348 8.47188 18V19C8.47188 19.2652 8.57724 19.5196 8.76477 19.7071C8.95231 19.8946 9.20666 20 9.47188 20C9.73709 20 9.99145 19.8946 10.179 19.7071C10.3665 19.5196 10.4719 19.2652 10.4719 19V18C10.4719 17.7348 10.3665 17.4804 10.179 17.2929Z"
                fill="black" />
            <path id="ray_3"
                d="M4.81466 15.657C4.81466 15.3918 4.70935 15.1375 4.52188 14.95C4.33435 14.7625 4.08004 14.6572 3.81487 14.6572C3.54971 14.6572 3.2954 14.7625 3.10787 14.95L2.40087 15.657C2.21872 15.8456 2.11792 16.0982 2.1202 16.3604C2.12248 16.6226 2.22765 16.8734 2.41306 17.0588C2.59846 17.2442 2.84928 17.3494 3.11147 17.3517C3.37367 17.3539 3.62627 17.2532 3.81487 17.071L4.52188 16.364C4.70935 16.1765 4.81466 15.9222 4.81466 15.657Z"
                fill="black" />
        </g>
      </svg>
    </div>
    <div
      class="hamburguer-menu"
      @click="is_menu_opened = !is_menu_opened"
      :class="is_menu_opened ? 'touched' : ''"
    >
      <svg width="28" height="20" viewBox="0 0 28 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="upper-bar">
            <path
                d="M12 0H2C1.46957 0 0.960859 0.210714 0.585786 0.585786C0.210714 0.960859 0 1.46957 0 2C0 2.53043 0.210714 3.03914 0.585786 3.41421C0.960859 3.78929 1.46957 4 2 4H12C12.5304 4 13.0391 3.78929 13.4142 3.41421C13.7893 3.03914 14 2.53043 14 2C14 1.46957 13.7893 0.960859 13.4142 0.585786C13.0391 0.210714 12.5304 0 12 0Z"
                fill="black" />
        </g>
        <g id="middle-bar">
            <path
                d="M26 8H2C1.46957 8 0.960859 8.21071 0.585786 8.58579C0.210714 8.96086 0 9.46957 0 10C0 10.5304 0.210714 11.0391 0.585786 11.4142C0.960859 11.7893 1.46957 12 2 12H26C26.5304 12 27.0391 11.7893 27.4142 11.4142C27.7893 11.0391 28 10.5304 28 10C28 9.46957 27.7893 8.96086 27.4142 8.58579C27.0391 8.21071 26.5304 8 26 8Z"
                fill="black" />
        </g>
        <g id="lower-bar">
            <path
                d="M16 16H26C26.5304 16 27.0391 16.2107 27.4142 16.5858C27.7893 16.9609 28 17.4696 28 18C28 18.5304 27.7893 19.0391 27.4142 19.4142C27.0391 19.7893 26.5304 20 26 20H16C15.4696 20 14.9609 19.7893 14.5858 19.4142C14.2107 19.0391 14 18.5304 14 18C14 17.4696 14.2107 16.9609 14.5858 16.5858C14.9609 16.2107 15.4696 16 16 16Z"
                fill="black" />
        </g>
      </svg>
    </div>
  </div>
</header>
