<div class="divsection-04">
  <div class="section-container full">
    <div class="title-and-text">
      <div class="title">
        <h2>{{ section.settings.section_04_title }}</h2>
      </div>
      <div class="text">
        {{ section.settings.section_04_subtitle }}
      </div>
    </div>

    <div class="projects-grid-pair">
      <div class="project-1">
        <div class="content-and-logo">
          <div class="content">
            <p class="title">{{ section.settings.section_04_project_01_title }}</p>

            {% if section.settings.section_04_project_01_location %}
              <div class="icon-and-text">
                {% render 'icon-marker' %}
                <p>{{ section.settings.section_04_project_01_location }}</p>
              </div>
            {% endif %}

            {% if section.settings.section_04_project_01_area %}
              <div class="icon-and-text">
                {% render 'icon-ruler' %}
                <p>{{ section.settings.section_04_project_01_area }}</p>
              </div>
            {% endif %}

            {% if section.settings.section_04_project_01_time %}
              <div class="icon-and-text">
                {% render 'icon-clock' %}
                <p>{{ section.settings.section_04_project_01_time }}</p>
              </div>
            {% endif %}
          </div>
          {% render 'logo' %}
        </div>
        <img
          src="{{ section.settings.section_04_project_01_background_image |  image_url: width: '800', height: '800' }}"
          alt="{{ section.settings.section_04_project_01_image_alt }}"
        >
      </div>

      <div class="project-2 short">
        <div class="content-and-logo">
          <div class="content">
            <p class="title">{{ section.settings.section_04_project_02_title }}</p>

            {% if section.settings.section_04_project_02_location %}
              <div class="icon-and-text">
                {% render 'icon-marker' %}
                <p>{{ section.settings.section_04_project_02_location }}</p>
              </div>
            {% endif %}

            {% if section.settings.section_04_project_02_area %}
              <div class="icon-and-text">
                {% render 'icon-ruler' %}
                <p>{{ section.settings.section_04_project_02_area }}</p>
              </div>
            {% endif %}

            {% if section.settings.section_04_project_02_time %}
              <div class="icon-and-text">
                {% render 'icon-clock' %}
                <p>{{ section.settings.section_04_project_02_time }}</p>
              </div>
            {% endif %}
          </div>
          {% render 'logo' %}
        </div>
        <img
          src="{{ section.settings.section_04_project_02_background_image |  image_url: width: 800, height: 800 }}"
          alt="{{ section.settings.section_04_project_02_image_alt }}"
        >
      </div>
    </div>

    <div class="projects-grid-pair reverse">
      <div class="project-3 short">
        <div class="content-and-logo">
          <div class="content">
            <p class="title">{{ section.settings.section_04_project_03_title }}</p>

            {% if section.settings.section_04_project_03_location %}
              <div class="icon-and-text">
                {% render 'icon-marker' %}
                <p>{{ section.settings.section_04_project_03_location }}</p>
              </div>
            {% endif %}

            {% if section.settings.section_04_project_03_area %}
              <div class="icon-and-text">
                {% render 'icon-ruler' %}
                <p>{{ section.settings.section_04_project_03_area }}</p>
              </div>
            {% endif %}

            {% if section.settings.section_04_project_03_time %}
              <div class="icon-and-text">
                {% render 'icon-clock' %}
                <p>{{ section.settings.section_04_project_03_time }}</p>
              </div>
            {% endif %}
          </div>
          {% render 'logo' %}
        </div>
        <img
          src="{{ section.settings.section_04_project_03_background_image | image_url: width: '800', height: '800'}}"
          alt="{{ section.settings.section_04_project_03_image_alt }}"
        >
      </div>
      <div class="project-4">
        <div class="content-and-logo">
          <div class="content">
            <p class="title">{{ section.settings.section_04_project_04_title }}</p>

            {% if section.settings.section_04_project_04_location %}
              <div class="icon-and-text">
                {% render 'icon-marker' %}
                <p>{{ section.settings.section_04_project_04_location }}</p>
              </div>
            {% endif %}

            {% if section.settings.section_04_project_04_area %}
              <div class="icon-and-text">
                {% render 'icon-ruler' %}
                <p>{{ section.settings.section_04_project_04_area }}</p>
              </div>
            {% endif %}

            {% if section.settings.section_04_project_04_time %}
              <div class="icon-and-text">
                {% render 'icon-clock' %}
                <p>{{ section.settings.section_04_project_04_time }}</p>
              </div>
            {% endif %}
          </div>
          {% render 'logo' %}
        </div>
        <img
          src="{{ section.settings.section_04_project_04_background_image | image_url: width: '800', height: '800'}}"
          alt="{{ section.settings.section_04_project_04_image_alt }}"
        >
      </div>
    </div>

    <div class="projects-grid-pair">
      <div class="project-5">
        <div class="content-and-logo">
          <div class="content">
            <p class="title">{{ section.settings.section_04_project_05_title }}</p>

            {% if section.settings.section_04_project_05_location %}
              <div class="icon-and-text">
                {% render 'icon-marker' %}
                <p>{{ section.settings.section_04_project_05_location }}</p>
              </div>
            {% endif %}

            {% if section.settings.section_04_project_05_area %}
              <div class="icon-and-text">
                {% render 'icon-ruler' %}
                <p>{{ section.settings.section_04_project_05_area }}</p>
              </div>
            {% endif %}

            {% if section.settings.section_04_project_05_time %}
              <div class="icon-and-text">
                {% render 'icon-clock' %}
                <p>{{ section.settings.section_04_project_05_time }}</p>
              </div>
            {% endif %}
          </div>
          {% render 'logo' %}
        </div>
        <img
          src="{{ section.settings.section_04_project_05_background_image | image_url: width: '800', height: '800'}}"
          alt="{{ section.settings.section_04_project_05_image_alt }}"
        >
      </div>
      <div class="project-6 short">
        <div class="content-and-logo">
          <div class="content">
            <p class="title">{{ section.settings.section_04_project_06_title }}</p>

            {% if section.settings.section_04_project_06_location %}
              <div class="icon-and-text">
                {% render 'icon-marker' %}
                <p>{{ section.settings.section_04_project_06_location }}</p>
              </div>
            {% endif %}

            {% if section.settings.section_04_project_06_area %}
              <div class="icon-and-text">
                {% render 'icon-ruler' %}
                <p>{{ section.settings.section_04_project_06_area }}</p>
              </div>
            {% endif %}

            {% if section.settings.section_04_project_06_time %}
              <div class="icon-and-text">
                {% render 'icon-clock' %}
                <p>{{ section.settings.section_04_project_06_time }}</p>
              </div>
            {% endif %}
          </div>
          {% render 'logo' %}
        </div>
        <img
          src="{{ section.settings.section_04_project_06_background_image | image_url: width: '800', height: '800' }}"
          alt="{{ section.settings.section_04_project_06_image_alt }}"
        >
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Section 4 - Projects Grid",
  "settings": [
    {
      "type": "text",
      "id": "section_04_title",
      "label": "Section Title",
      "default": "Know Our Projects"
    },
    {
      "type": "richtext",
      "id": "section_04_subtitle",
      "label": "Section Subitle",
      "default": "<p>We know what buyers are looking for and suggest projects that will bring clients top dollar for the sale of their homes.</p>"
    },
    {
      "type": "image_picker",
      "id": "section_04_project_01_background_image",
      "label": "Project 1 Thumbnail"
    },
    {
      "type": "text",
      "id": "section_04_project_01_image_alt",
      "label": "Project 1 Thumbnail Alt Text"
    },
    {
      "type": "text",
      "id": "section_04_project_01_title",
      "label": "Project 1 Title"
    },
    {
      "type": "text",
      "id": "section_04_project_01_location",
      "label": "Project 1 Location"
    },
    {
      "type": "text",
      "id": "section_04_project_01_area",
      "label": "Project 1 Area"
    },
    {
      "type": "text",
      "id": "section_04_project_01_time",
      "label": "Project 1 ETA"
    },
    {
      "type": "image_picker",
      "id": "section_04_project_02_background_image",
      "label": "Project 2 Thumbnail"
    },
    {
      "type": "text",
      "id": "section_04_project_02_image_alt",
      "label": "Project 2 Thumbnail Alt Text"
    },
    {
      "type": "text",
      "id": "section_04_project_02_title",
      "label": "Project 2 Title"
    },
    {
      "type": "text",
      "id": "section_04_project_02_location",
      "label": "Project 2 Location"
    },
    {
      "type": "text",
      "id": "section_04_project_02_area",
      "label": "Project 2 Area"
    },
    {
      "type": "text",
      "id": "section_04_project_02_time",
      "label": "Project 2 ETA"
    },
    {
      "type": "image_picker",
      "id": "section_04_project_03_background_image",
      "label": "Project 3 Thumbnail"
    },
    {
      "type": "text",
      "id": "section_04_project_03_image_alt",
      "label": "Project 3 Thumbnail Alt Text"
    },
    {
      "type": "text",
      "id": "section_04_project_03_title",
      "label": "Project 3 Title"
    },
    {
      "type": "text",
      "id": "section_04_project_03_location",
      "label": "Project 3 Location"
    },
    {
      "type": "text",
      "id": "section_04_project_03_area",
      "label": "Project 3 Area"
    },
    {
      "type": "text",
      "id": "section_04_project_03_time",
      "label": "Project 3 ETA"
    },
    {
      "type": "image_picker",
      "id": "section_04_project_04_background_image",
      "label": "Project 4 Thumbnail"
    },
    {
      "type": "text",
      "id": "section_04_project_04_image_alt",
      "label": "Project 4 Thumbnail Alt Text"
    },
    {
      "type": "text",
      "id": "section_04_project_04_title",
      "label": "Project 4 Title"
    },
    {
      "type": "text",
      "id": "section_04_project_04_location",
      "label": "Project 4 Location"
    },
    {
      "type": "text",
      "id": "section_04_project_04_area",
      "label": "Project 4 Area"
    },
    {
      "type": "text",
      "id": "section_04_project_04_time",
      "label": "Project 4 ETA"
    },
    {
      "type": "image_picker",
      "id": "section_04_project_05_background_image",
      "label": "Project  5 Thumbnail"
    },
    {
      "type": "text",
      "id": "section_04_project_05_image_alt",
      "label": "Project 5 Thumbnail Alt Text"
    },
    {
      "type": "text",
      "id": "section_04_project_05_title",
      "label": "Project 5 Title"
    },
    {
      "type": "text",
      "id": "section_04_project_05_location",
      "label": "Project 5 Location"
    },
    {
      "type": "text",
      "id": "section_04_project_05_area",
      "label": "Project 5 Area"
    },
    {
      "type": "text",
      "id": "section_04_project_05_time",
      "label": "Project 5 ETA"
    },
    {
      "type": "image_picker",
      "id": "section_04_project_06_background_image",
      "label": "Project 6 Thumbnail"
    },
    {
      "type": "text",
      "id": "section_04_project_06_image_alt",
      "label": "Project 6 Thumbnail Alt Text"
    },
    {
      "type": "text",
      "id": "section_04_project_06_title",
      "label": "Project 6 Title"
    },
    {
      "type": "text",
      "id": "section_04_project_06_area",
      "label": "Project 6 Area"
    },
    {
      "type": "text",
      "id": "section_04_project_06_location",
      "label": "Project 6 Location"
    },
    {
      "type": "text",
      "id": "section_04_project_06_time",
      "label": "Project 6 ETA"
    }
  ]
}
{% endschema %}
