<div class="divsection-04">
  <div class="section-container full">
    <div class="title-and-text">
      <div class="title">
        <h2>{{ section.settings.section_04_title }}</h2>
      </div>
      <div class="text">
        {{ section.settings.section_04_subtitle }}
      </div>
    </div>

    <div class="projects-grid-pair">
      <div class="project-1">
        <div class="content-and-logo">
          <div class="content">
            <p class="title">{{ section.settings.section_04_project_01_title }}</p>

            {% if section.settings.section_04_project_01_location %}
              <div class="icon-and-text">
                <svg
                  width="14"
                  height="20"
                  viewBox="0 0 14 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M7 9.5C6.33696 9.5 5.70107 9.23661 5.23223 8.76777C4.76339 8.29893 4.5 7.66304 4.5 7C4.5 6.33696 4.76339 5.70107 5.23223 5.23223C5.70107 4.76339 6.33696 4.5 7 4.5C7.66304 4.5 8.29893 4.76339 8.76777 5.23223C9.23661 5.70107 9.5 6.33696 9.5 7C9.5 7.3283 9.43534 7.65339 9.3097 7.95671C9.18406 8.26002 8.99991 8.53562 8.76777 8.76777C8.53562 8.99991 8.26002 9.18406 7.95671 9.3097C7.65339 9.43534 7.3283 9.5 7 9.5ZM7 0C5.14348 0 3.36301 0.737498 2.05025 2.05025C0.737498 3.36301 0 5.14348 0 7C0 12.25 7 20 7 20C7 20 14 12.25 14 7C14 5.14348 13.2625 3.36301 11.9497 2.05025C10.637 0.737498 8.85652 0 7 0Z" fill="white" />
                </svg>
                <p>{{ section.settings.section_04_project_01_location }}</p>
              </div>
            {% endif %}

            {% if section.settings.section_04_project_01_area %}
              <div class="icon-and-text">
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M19.5815 5.12222L14.8773 0.418543C14.7447 0.285851 14.5872 0.180591 14.4139 0.108777C14.2405 0.0369627 14.0548 0 13.8671 0C13.6795 0 13.4938 0.0369627 13.3204 0.108777C13.1471 0.180591 12.9896 0.285851 12.8569 0.418543L0.418506 12.8572C0.285825 12.9899 0.180575 13.1474 0.108767 13.3207C0.0369594 13.4941 0 13.6799 0 13.8675C0 14.0551 0.0369594 14.2409 0.108767 14.4143C0.180575 14.5876 0.285825 14.7451 0.418506 14.8778L5.12265 19.5815C5.2553 19.7141 5.41279 19.8194 5.58612 19.8912C5.75945 19.963 5.94523 20 6.13285 20C6.32047 20 6.50625 19.963 6.67958 19.8912C6.85291 19.8194 7.0104 19.7141 7.14305 19.5815L19.5815 7.1428C19.7142 7.01013 19.8194 6.85263 19.8912 6.67928C19.963 6.50594 20 6.32014 20 6.13251C20 5.94487 19.963 5.75907 19.8912 5.58573C19.8194 5.41238 19.7142 5.25488 19.5815 5.12222ZM6.1324 18.5716L1.42915 13.867L4.2861 11.0098L6.63773 13.3626C6.70409 13.4289 6.78287 13.4816 6.86957 13.5175C6.95627 13.5534 7.0492 13.5719 7.14305 13.5719C7.2369 13.5719 7.32983 13.5534 7.41653 13.5175C7.50323 13.4816 7.58201 13.4289 7.64837 13.3626C7.71473 13.2962 7.76737 13.2174 7.80329 13.1307C7.8392 13.044 7.85768 12.9511 7.85768 12.8572C7.85768 12.7633 7.8392 12.6704 7.80329 12.5837C7.76737 12.497 7.71473 12.4182 7.64837 12.3518L5.29585 10L7.14305 8.15264L9.49468 10.5054C9.6287 10.6394 9.81047 10.7147 10 10.7147C10.1895 10.7147 10.3713 10.6394 10.5053 10.5054C10.6393 10.3713 10.7146 10.1895 10.7146 10C10.7146 9.81045 10.6393 9.62866 10.5053 9.49463L8.1528 7.1428L10 5.29543L12.3516 7.64816C12.418 7.71453 12.4968 7.76717 12.5835 7.80309C12.6702 7.83901 12.7631 7.85749 12.8569 7.85749C12.9508 7.85749 13.0437 7.83901 13.1304 7.80309C13.2171 7.76717 13.2959 7.71453 13.3623 7.64816C13.4286 7.5818 13.4813 7.50301 13.5172 7.4163C13.5531 7.32959 13.5716 7.23665 13.5716 7.1428C13.5716 7.04894 13.5531 6.956 13.5172 6.86929C13.4813 6.78258 13.4286 6.70379 13.3623 6.63743L11.0098 4.28559L13.8667 1.42839L18.5708 6.13295L6.1324 18.5716Z" fill="white" />
                </svg>
                <p>{{ section.settings.section_04_project_01_area }}</p>
              </div>
            {% endif %}

            {% if section.settings.section_04_project_01_time %}
              <div class="icon-and-text">
                <svg
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M8 0C6.94943 0 5.90914 0.206926 4.93853 0.608964C3.96793 1.011 3.08601 1.60028 2.34315 2.34315C0.842855 3.84344 0 5.87827 0 8C0 10.1217 0.842855 12.1566 2.34315 13.6569C3.08601 14.3997 3.96793 14.989 4.93853 15.391C5.90914 15.7931 6.94943 16 8 16C10.1217 16 12.1566 15.1571 13.6569 13.6569C15.1571 12.1566 16 10.1217 16 8C16 6.94943 15.7931 5.90914 15.391 4.93853C14.989 3.96793 14.3997 3.08601 13.6569 2.34315C12.914 1.60028 12.0321 1.011 11.0615 0.608964C10.0909 0.206926 9.05058 0 8 0ZM11.36 11.36L7.2 8.8V4H8.4V8.16L12 10.32L11.36 11.36Z" fill="white" />
                </svg>
                <p>{{ section.settings.section_04_project_01_time }}</p>
              </div>
            {% endif %}
          </div>
          {% render 'logo' %}
        </div>
        <img
          src="{{ section.settings.section_04_project_01_background_image |  image_url: width: '800', height: '800' }}"
          alt="{{ section.settings.section_04_project_01_image_alt }}"
        >
      </div>
      <div class="project-2 short">
        <div class="content-and-logo">
          <div class="content">
            <p class="title">{{ section.settings.section_04_project_02_title }}</p>

            {% if section.settings.section_04_project_02_location %}
              <div class="icon-and-text">
                <svg
                  width="14"
                  height="20"
                  viewBox="0 0 14 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M7 9.5C6.33696 9.5 5.70107 9.23661 5.23223 8.76777C4.76339 8.29893 4.5 7.66304 4.5 7C4.5 6.33696 4.76339 5.70107 5.23223 5.23223C5.70107 4.76339 6.33696 4.5 7 4.5C7.66304 4.5 8.29893 4.76339 8.76777 5.23223C9.23661 5.70107 9.5 6.33696 9.5 7C9.5 7.3283 9.43534 7.65339 9.3097 7.95671C9.18406 8.26002 8.99991 8.53562 8.76777 8.76777C8.53562 8.99991 8.26002 9.18406 7.95671 9.3097C7.65339 9.43534 7.3283 9.5 7 9.5ZM7 0C5.14348 0 3.36301 0.737498 2.05025 2.05025C0.737498 3.36301 0 5.14348 0 7C0 12.25 7 20 7 20C7 20 14 12.25 14 7C14 5.14348 13.2625 3.36301 11.9497 2.05025C10.637 0.737498 8.85652 0 7 0Z" fill="white" />
                </svg>
                <p>{{ section.settings.section_04_project_02_location }}</p>
              </div>
            {% endif %}

            {% if section.settings.section_04_project_02_area %}
              <div class="icon-and-text">
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M19.5815 5.12222L14.8773 0.418543C14.7447 0.285851 14.5872 0.180591 14.4139 0.108777C14.2405 0.0369627 14.0548 0 13.8671 0C13.6795 0 13.4938 0.0369627 13.3204 0.108777C13.1471 0.180591 12.9896 0.285851 12.8569 0.418543L0.418506 12.8572C0.285825 12.9899 0.180575 13.1474 0.108767 13.3207C0.0369594 13.4941 0 13.6799 0 13.8675C0 14.0551 0.0369594 14.2409 0.108767 14.4143C0.180575 14.5876 0.285825 14.7451 0.418506 14.8778L5.12265 19.5815C5.2553 19.7141 5.41279 19.8194 5.58612 19.8912C5.75945 19.963 5.94523 20 6.13285 20C6.32047 20 6.50625 19.963 6.67958 19.8912C6.85291 19.8194 7.0104 19.7141 7.14305 19.5815L19.5815 7.1428C19.7142 7.01013 19.8194 6.85263 19.8912 6.67928C19.963 6.50594 20 6.32014 20 6.13251C20 5.94487 19.963 5.75907 19.8912 5.58573C19.8194 5.41238 19.7142 5.25488 19.5815 5.12222ZM6.1324 18.5716L1.42915 13.867L4.2861 11.0098L6.63773 13.3626C6.70409 13.4289 6.78287 13.4816 6.86957 13.5175C6.95627 13.5534 7.0492 13.5719 7.14305 13.5719C7.2369 13.5719 7.32983 13.5534 7.41653 13.5175C7.50323 13.4816 7.58201 13.4289 7.64837 13.3626C7.71473 13.2962 7.76737 13.2174 7.80329 13.1307C7.8392 13.044 7.85768 12.9511 7.85768 12.8572C7.85768 12.7633 7.8392 12.6704 7.80329 12.5837C7.76737 12.497 7.71473 12.4182 7.64837 12.3518L5.29585 10L7.14305 8.15264L9.49468 10.5054C9.6287 10.6394 9.81047 10.7147 10 10.7147C10.1895 10.7147 10.3713 10.6394 10.5053 10.5054C10.6393 10.3713 10.7146 10.1895 10.7146 10C10.7146 9.81045 10.6393 9.62866 10.5053 9.49463L8.1528 7.1428L10 5.29543L12.3516 7.64816C12.418 7.71453 12.4968 7.76717 12.5835 7.80309C12.6702 7.83901 12.7631 7.85749 12.8569 7.85749C12.9508 7.85749 13.0437 7.83901 13.1304 7.80309C13.2171 7.76717 13.2959 7.71453 13.3623 7.64816C13.4286 7.5818 13.4813 7.50301 13.5172 7.4163C13.5531 7.32959 13.5716 7.23665 13.5716 7.1428C13.5716 7.04894 13.5531 6.956 13.5172 6.86929C13.4813 6.78258 13.4286 6.70379 13.3623 6.63743L11.0098 4.28559L13.8667 1.42839L18.5708 6.13295L6.1324 18.5716Z" fill="white" />
                </svg>
                <p>{{ section.settings.section_04_project_02_area }}</p>
              </div>
            {% endif %}

            {% if section.settings.section_04_project_02_time %}
              <div class="icon-and-text">
                <svg
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M8 0C6.94943 0 5.90914 0.206926 4.93853 0.608964C3.96793 1.011 3.08601 1.60028 2.34315 2.34315C0.842855 3.84344 0 5.87827 0 8C0 10.1217 0.842855 12.1566 2.34315 13.6569C3.08601 14.3997 3.96793 14.989 4.93853 15.391C5.90914 15.7931 6.94943 16 8 16C10.1217 16 12.1566 15.1571 13.6569 13.6569C15.1571 12.1566 16 10.1217 16 8C16 6.94943 15.7931 5.90914 15.391 4.93853C14.989 3.96793 14.3997 3.08601 13.6569 2.34315C12.914 1.60028 12.0321 1.011 11.0615 0.608964C10.0909 0.206926 9.05058 0 8 0ZM11.36 11.36L7.2 8.8V4H8.4V8.16L12 10.32L11.36 11.36Z" fill="white" />
                </svg>
                <p>{{ section.settings.section_04_project_02_time }}</p>
              </div>
            {% endif %}
          </div>
          {% render 'logo' %}
        </div>
        <img
          src="{{ section.settings.section_04_project_02_background_image |  image_url: width: 800, height: 800 }}"
          alt="{{ section.settings.section_04_project_02_image_alt }}"
        >
      </div>
    </div>

    <div class="projects-grid-pair reverse">
      <div class="project-3 short">
        <div class="content-and-logo">
          <div class="content">
            <p class="title">{{ section.settings.section_04_project_03_title }}</p>

            {% if section.settings.section_04_project_03_location %}
              <div class="icon-and-text">
                <svg
                  width="14"
                  height="20"
                  viewBox="0 0 14 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M7 9.5C6.33696 9.5 5.70107 9.23661 5.23223 8.76777C4.76339 8.29893 4.5 7.66304 4.5 7C4.5 6.33696 4.76339 5.70107 5.23223 5.23223C5.70107 4.76339 6.33696 4.5 7 4.5C7.66304 4.5 8.29893 4.76339 8.76777 5.23223C9.23661 5.70107 9.5 6.33696 9.5 7C9.5 7.3283 9.43534 7.65339 9.3097 7.95671C9.18406 8.26002 8.99991 8.53562 8.76777 8.76777C8.53562 8.99991 8.26002 9.18406 7.95671 9.3097C7.65339 9.43534 7.3283 9.5 7 9.5ZM7 0C5.14348 0 3.36301 0.737498 2.05025 2.05025C0.737498 3.36301 0 5.14348 0 7C0 12.25 7 20 7 20C7 20 14 12.25 14 7C14 5.14348 13.2625 3.36301 11.9497 2.05025C10.637 0.737498 8.85652 0 7 0Z" fill="white" />
                </svg>
                <p>{{ section.settings.section_04_project_03_location }}</p>
              </div>
            {% endif %}

            {% if section.settings.section_04_project_03_area %}
              <div class="icon-and-text">
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M19.5815 5.12222L14.8773 0.418543C14.7447 0.285851 14.5872 0.180591 14.4139 0.108777C14.2405 0.0369627 14.0548 0 13.8671 0C13.6795 0 13.4938 0.0369627 13.3204 0.108777C13.1471 0.180591 12.9896 0.285851 12.8569 0.418543L0.418506 12.8572C0.285825 12.9899 0.180575 13.1474 0.108767 13.3207C0.0369594 13.4941 0 13.6799 0 13.8675C0 14.0551 0.0369594 14.2409 0.108767 14.4143C0.180575 14.5876 0.285825 14.7451 0.418506 14.8778L5.12265 19.5815C5.2553 19.7141 5.41279 19.8194 5.58612 19.8912C5.75945 19.963 5.94523 20 6.13285 20C6.32047 20 6.50625 19.963 6.67958 19.8912C6.85291 19.8194 7.0104 19.7141 7.14305 19.5815L19.5815 7.1428C19.7142 7.01013 19.8194 6.85263 19.8912 6.67928C19.963 6.50594 20 6.32014 20 6.13251C20 5.94487 19.963 5.75907 19.8912 5.58573C19.8194 5.41238 19.7142 5.25488 19.5815 5.12222ZM6.1324 18.5716L1.42915 13.867L4.2861 11.0098L6.63773 13.3626C6.70409 13.4289 6.78287 13.4816 6.86957 13.5175C6.95627 13.5534 7.0492 13.5719 7.14305 13.5719C7.2369 13.5719 7.32983 13.5534 7.41653 13.5175C7.50323 13.4816 7.58201 13.4289 7.64837 13.3626C7.71473 13.2962 7.76737 13.2174 7.80329 13.1307C7.8392 13.044 7.85768 12.9511 7.85768 12.8572C7.85768 12.7633 7.8392 12.6704 7.80329 12.5837C7.76737 12.497 7.71473 12.4182 7.64837 12.3518L5.29585 10L7.14305 8.15264L9.49468 10.5054C9.6287 10.6394 9.81047 10.7147 10 10.7147C10.1895 10.7147 10.3713 10.6394 10.5053 10.5054C10.6393 10.3713 10.7146 10.1895 10.7146 10C10.7146 9.81045 10.6393 9.62866 10.5053 9.49463L8.1528 7.1428L10 5.29543L12.3516 7.64816C12.418 7.71453 12.4968 7.76717 12.5835 7.80309C12.6702 7.83901 12.7631 7.85749 12.8569 7.85749C12.9508 7.85749 13.0437 7.83901 13.1304 7.80309C13.2171 7.76717 13.2959 7.71453 13.3623 7.64816C13.4286 7.5818 13.4813 7.50301 13.5172 7.4163C13.5531 7.32959 13.5716 7.23665 13.5716 7.1428C13.5716 7.04894 13.5531 6.956 13.5172 6.86929C13.4813 6.78258 13.4286 6.70379 13.3623 6.63743L11.0098 4.28559L13.8667 1.42839L18.5708 6.13295L6.1324 18.5716Z" fill="white" />
                </svg>
                <p>{{ section.settings.section_04_project_03_area }}</p>
              </div>
            {% endif %}

            {% if section.settings.section_04_project_03_time %}
              <div class="icon-and-text">
                <svg
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M8 0C6.94943 0 5.90914 0.206926 4.93853 0.608964C3.96793 1.011 3.08601 1.60028 2.34315 2.34315C0.842855 3.84344 0 5.87827 0 8C0 10.1217 0.842855 12.1566 2.34315 13.6569C3.08601 14.3997 3.96793 14.989 4.93853 15.391C5.90914 15.7931 6.94943 16 8 16C10.1217 16 12.1566 15.1571 13.6569 13.6569C15.1571 12.1566 16 10.1217 16 8C16 6.94943 15.7931 5.90914 15.391 4.93853C14.989 3.96793 14.3997 3.08601 13.6569 2.34315C12.914 1.60028 12.0321 1.011 11.0615 0.608964C10.0909 0.206926 9.05058 0 8 0ZM11.36 11.36L7.2 8.8V4H8.4V8.16L12 10.32L11.36 11.36Z" fill="white" />
                </svg>
                <p>{{ section.settings.section_04_project_03_time }}</p>
              </div>
            {% endif %}
          </div>
          {% render 'logo' %}
        </div>
        <img
          src="{{ section.settings.section_04_project_03_background_image | image_url: width: '800', height: '800'}}"
          alt="{{ section.settings.section_04_project_03_image_alt }}"
        >
      </div>
      <div class="project-4">
        <div class="content-and-logo">
          <div class="content">
            <p class="title">{{ section.settings.section_04_project_04_title }}</p>

            {% if section.settings.section_04_project_04_location %}
              <div class="icon-and-text">
                <svg
                  width="14"
                  height="20"
                  viewBox="0 0 14 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M7 9.5C6.33696 9.5 5.70107 9.23661 5.23223 8.76777C4.76339 8.29893 4.5 7.66304 4.5 7C4.5 6.33696 4.76339 5.70107 5.23223 5.23223C5.70107 4.76339 6.33696 4.5 7 4.5C7.66304 4.5 8.29893 4.76339 8.76777 5.23223C9.23661 5.70107 9.5 6.33696 9.5 7C9.5 7.3283 9.43534 7.65339 9.3097 7.95671C9.18406 8.26002 8.99991 8.53562 8.76777 8.76777C8.53562 8.99991 8.26002 9.18406 7.95671 9.3097C7.65339 9.43534 7.3283 9.5 7 9.5ZM7 0C5.14348 0 3.36301 0.737498 2.05025 2.05025C0.737498 3.36301 0 5.14348 0 7C0 12.25 7 20 7 20C7 20 14 12.25 14 7C14 5.14348 13.2625 3.36301 11.9497 2.05025C10.637 0.737498 8.85652 0 7 0Z" fill="white" />
                </svg>
                <p>{{ section.settings.section_04_project_04_location }}</p>
              </div>
            {% endif %}

            {% if section.settings.section_04_project_04_area %}
              <div class="icon-and-text">
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M19.5815 5.12222L14.8773 0.418543C14.7447 0.285851 14.5872 0.180591 14.4139 0.108777C14.2405 0.0369627 14.0548 0 13.8671 0C13.6795 0 13.4938 0.0369627 13.3204 0.108777C13.1471 0.180591 12.9896 0.285851 12.8569 0.418543L0.418506 12.8572C0.285825 12.9899 0.180575 13.1474 0.108767 13.3207C0.0369594 13.4941 0 13.6799 0 13.8675C0 14.0551 0.0369594 14.2409 0.108767 14.4143C0.180575 14.5876 0.285825 14.7451 0.418506 14.8778L5.12265 19.5815C5.2553 19.7141 5.41279 19.8194 5.58612 19.8912C5.75945 19.963 5.94523 20 6.13285 20C6.32047 20 6.50625 19.963 6.67958 19.8912C6.85291 19.8194 7.0104 19.7141 7.14305 19.5815L19.5815 7.1428C19.7142 7.01013 19.8194 6.85263 19.8912 6.67928C19.963 6.50594 20 6.32014 20 6.13251C20 5.94487 19.963 5.75907 19.8912 5.58573C19.8194 5.41238 19.7142 5.25488 19.5815 5.12222ZM6.1324 18.5716L1.42915 13.867L4.2861 11.0098L6.63773 13.3626C6.70409 13.4289 6.78287 13.4816 6.86957 13.5175C6.95627 13.5534 7.0492 13.5719 7.14305 13.5719C7.2369 13.5719 7.32983 13.5534 7.41653 13.5175C7.50323 13.4816 7.58201 13.4289 7.64837 13.3626C7.71473 13.2962 7.76737 13.2174 7.80329 13.1307C7.8392 13.044 7.85768 12.9511 7.85768 12.8572C7.85768 12.7633 7.8392 12.6704 7.80329 12.5837C7.76737 12.497 7.71473 12.4182 7.64837 12.3518L5.29585 10L7.14305 8.15264L9.49468 10.5054C9.6287 10.6394 9.81047 10.7147 10 10.7147C10.1895 10.7147 10.3713 10.6394 10.5053 10.5054C10.6393 10.3713 10.7146 10.1895 10.7146 10C10.7146 9.81045 10.6393 9.62866 10.5053 9.49463L8.1528 7.1428L10 5.29543L12.3516 7.64816C12.418 7.71453 12.4968 7.76717 12.5835 7.80309C12.6702 7.83901 12.7631 7.85749 12.8569 7.85749C12.9508 7.85749 13.0437 7.83901 13.1304 7.80309C13.2171 7.76717 13.2959 7.71453 13.3623 7.64816C13.4286 7.5818 13.4813 7.50301 13.5172 7.4163C13.5531 7.32959 13.5716 7.23665 13.5716 7.1428C13.5716 7.04894 13.5531 6.956 13.5172 6.86929C13.4813 6.78258 13.4286 6.70379 13.3623 6.63743L11.0098 4.28559L13.8667 1.42839L18.5708 6.13295L6.1324 18.5716Z" fill="white" />
                </svg>
                <p>{{ section.settings.section_04_project_04_area }}</p>
              </div>
            {% endif %}

            {% if section.settings.section_04_project_04_time %}
              <div class="icon-and-text">
                <svg
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M8 0C6.94943 0 5.90914 0.206926 4.93853 0.608964C3.96793 1.011 3.08601 1.60028 2.34315 2.34315C0.842855 3.84344 0 5.87827 0 8C0 10.1217 0.842855 12.1566 2.34315 13.6569C3.08601 14.3997 3.96793 14.989 4.93853 15.391C5.90914 15.7931 6.94943 16 8 16C10.1217 16 12.1566 15.1571 13.6569 13.6569C15.1571 12.1566 16 10.1217 16 8C16 6.94943 15.7931 5.90914 15.391 4.93853C14.989 3.96793 14.3997 3.08601 13.6569 2.34315C12.914 1.60028 12.0321 1.011 11.0615 0.608964C10.0909 0.206926 9.05058 0 8 0ZM11.36 11.36L7.2 8.8V4H8.4V8.16L12 10.32L11.36 11.36Z" fill="white" />
                </svg>
                <p>{{ section.settings.section_04_project_04_time }}</p>
              </div>
            {% endif %}
          </div>
          {% render 'logo' %}
        </div>
        <img
          src="{{ section.settings.section_04_project_04_background_image | image_url: width: '800', height: '800'}}"
          alt="{{ section.settings.section_04_project_04_image_alt }}"
        >
      </div>
    </div>

    <div class="projects-grid-pair">
      <div class="project-5">
        <div class="content-and-logo">
          <div class="content">
            <p class="title">{{ section.settings.section_04_project_05_title }}</p>

            {% if section.settings.section_04_project_05_location %}
              <div class="icon-and-text">
                <svg
                  width="14"
                  height="20"
                  viewBox="0 0 14 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M7 9.5C6.33696 9.5 5.70107 9.23661 5.23223 8.76777C4.76339 8.29893 4.5 7.66304 4.5 7C4.5 6.33696 4.76339 5.70107 5.23223 5.23223C5.70107 4.76339 6.33696 4.5 7 4.5C7.66304 4.5 8.29893 4.76339 8.76777 5.23223C9.23661 5.70107 9.5 6.33696 9.5 7C9.5 7.3283 9.43534 7.65339 9.3097 7.95671C9.18406 8.26002 8.99991 8.53562 8.76777 8.76777C8.53562 8.99991 8.26002 9.18406 7.95671 9.3097C7.65339 9.43534 7.3283 9.5 7 9.5ZM7 0C5.14348 0 3.36301 0.737498 2.05025 2.05025C0.737498 3.36301 0 5.14348 0 7C0 12.25 7 20 7 20C7 20 14 12.25 14 7C14 5.14348 13.2625 3.36301 11.9497 2.05025C10.637 0.737498 8.85652 0 7 0Z" fill="white" />
                </svg>
                <p>{{ section.settings.section_04_project_05_location }}</p>
              </div>
            {% endif %}

            {% if section.settings.section_04_project_05_area %}
              <div class="icon-and-text">
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M19.5815 5.12222L14.8773 0.418543C14.7447 0.285851 14.5872 0.180591 14.4139 0.108777C14.2405 0.0369627 14.0548 0 13.8671 0C13.6795 0 13.4938 0.0369627 13.3204 0.108777C13.1471 0.180591 12.9896 0.285851 12.8569 0.418543L0.418506 12.8572C0.285825 12.9899 0.180575 13.1474 0.108767 13.3207C0.0369594 13.4941 0 13.6799 0 13.8675C0 14.0551 0.0369594 14.2409 0.108767 14.4143C0.180575 14.5876 0.285825 14.7451 0.418506 14.8778L5.12265 19.5815C5.2553 19.7141 5.41279 19.8194 5.58612 19.8912C5.75945 19.963 5.94523 20 6.13285 20C6.32047 20 6.50625 19.963 6.67958 19.8912C6.85291 19.8194 7.0104 19.7141 7.14305 19.5815L19.5815 7.1428C19.7142 7.01013 19.8194 6.85263 19.8912 6.67928C19.963 6.50594 20 6.32014 20 6.13251C20 5.94487 19.963 5.75907 19.8912 5.58573C19.8194 5.41238 19.7142 5.25488 19.5815 5.12222ZM6.1324 18.5716L1.42915 13.867L4.2861 11.0098L6.63773 13.3626C6.70409 13.4289 6.78287 13.4816 6.86957 13.5175C6.95627 13.5534 7.0492 13.5719 7.14305 13.5719C7.2369 13.5719 7.32983 13.5534 7.41653 13.5175C7.50323 13.4816 7.58201 13.4289 7.64837 13.3626C7.71473 13.2962 7.76737 13.2174 7.80329 13.1307C7.8392 13.044 7.85768 12.9511 7.85768 12.8572C7.85768 12.7633 7.8392 12.6704 7.80329 12.5837C7.76737 12.497 7.71473 12.4182 7.64837 12.3518L5.29585 10L7.14305 8.15264L9.49468 10.5054C9.6287 10.6394 9.81047 10.7147 10 10.7147C10.1895 10.7147 10.3713 10.6394 10.5053 10.5054C10.6393 10.3713 10.7146 10.1895 10.7146 10C10.7146 9.81045 10.6393 9.62866 10.5053 9.49463L8.1528 7.1428L10 5.29543L12.3516 7.64816C12.418 7.71453 12.4968 7.76717 12.5835 7.80309C12.6702 7.83901 12.7631 7.85749 12.8569 7.85749C12.9508 7.85749 13.0437 7.83901 13.1304 7.80309C13.2171 7.76717 13.2959 7.71453 13.3623 7.64816C13.4286 7.5818 13.4813 7.50301 13.5172 7.4163C13.5531 7.32959 13.5716 7.23665 13.5716 7.1428C13.5716 7.04894 13.5531 6.956 13.5172 6.86929C13.4813 6.78258 13.4286 6.70379 13.3623 6.63743L11.0098 4.28559L13.8667 1.42839L18.5708 6.13295L6.1324 18.5716Z" fill="white" />
                </svg>
                <p>{{ section.settings.section_04_project_05_area }}</p>
              </div>
            {% endif %}

            {% if section.settings.section_04_project_05_time %}
              <div class="icon-and-text">
                <svg
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M8 0C6.94943 0 5.90914 0.206926 4.93853 0.608964C3.96793 1.011 3.08601 1.60028 2.34315 2.34315C0.842855 3.84344 0 5.87827 0 8C0 10.1217 0.842855 12.1566 2.34315 13.6569C3.08601 14.3997 3.96793 14.989 4.93853 15.391C5.90914 15.7931 6.94943 16 8 16C10.1217 16 12.1566 15.1571 13.6569 13.6569C15.1571 12.1566 16 10.1217 16 8C16 6.94943 15.7931 5.90914 15.391 4.93853C14.989 3.96793 14.3997 3.08601 13.6569 2.34315C12.914 1.60028 12.0321 1.011 11.0615 0.608964C10.0909 0.206926 9.05058 0 8 0ZM11.36 11.36L7.2 8.8V4H8.4V8.16L12 10.32L11.36 11.36Z" fill="white" />
                </svg>
                <p>{{ section.settings.section_04_project_05_time }}</p>
              </div>
            {% endif %}
          </div>
          {% render 'logo' %}
        </div>
        <img
          src="{{ section.settings.section_04_project_05_background_image | image_url: width: '800', height: '800'}}"
          alt="{{ section.settings.section_04_project_05_image_alt }}"
        >
      </div>
      <div class="project-6 short">
        <div class="content-and-logo">
          <div class="content">
            <p class="title">{{ section.settings.section_04_project_06_title }}</p>

            {% if section.settings.section_04_project_06_location %}
              <div class="icon-and-text">
                <svg
                  width="14"
                  height="20"
                  viewBox="0 0 14 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M7 9.5C6.33696 9.5 5.70107 9.23661 5.23223 8.76777C4.76339 8.29893 4.5 7.66304 4.5 7C4.5 6.33696 4.76339 5.70107 5.23223 5.23223C5.70107 4.76339 6.33696 4.5 7 4.5C7.66304 4.5 8.29893 4.76339 8.76777 5.23223C9.23661 5.70107 9.5 6.33696 9.5 7C9.5 7.3283 9.43534 7.65339 9.3097 7.95671C9.18406 8.26002 8.99991 8.53562 8.76777 8.76777C8.53562 8.99991 8.26002 9.18406 7.95671 9.3097C7.65339 9.43534 7.3283 9.5 7 9.5ZM7 0C5.14348 0 3.36301 0.737498 2.05025 2.05025C0.737498 3.36301 0 5.14348 0 7C0 12.25 7 20 7 20C7 20 14 12.25 14 7C14 5.14348 13.2625 3.36301 11.9497 2.05025C10.637 0.737498 8.85652 0 7 0Z" fill="white" />
                </svg>
                <p>{{ section.settings.section_04_project_06_location }}</p>
              </div>
            {% endif %}

            {% if section.settings.section_04_project_06_area %}
              <div class="icon-and-text">
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M19.5815 5.12222L14.8773 0.418543C14.7447 0.285851 14.5872 0.180591 14.4139 0.108777C14.2405 0.0369627 14.0548 0 13.8671 0C13.6795 0 13.4938 0.0369627 13.3204 0.108777C13.1471 0.180591 12.9896 0.285851 12.8569 0.418543L0.418506 12.8572C0.285825 12.9899 0.180575 13.1474 0.108767 13.3207C0.0369594 13.4941 0 13.6799 0 13.8675C0 14.0551 0.0369594 14.2409 0.108767 14.4143C0.180575 14.5876 0.285825 14.7451 0.418506 14.8778L5.12265 19.5815C5.2553 19.7141 5.41279 19.8194 5.58612 19.8912C5.75945 19.963 5.94523 20 6.13285 20C6.32047 20 6.50625 19.963 6.67958 19.8912C6.85291 19.8194 7.0104 19.7141 7.14305 19.5815L19.5815 7.1428C19.7142 7.01013 19.8194 6.85263 19.8912 6.67928C19.963 6.50594 20 6.32014 20 6.13251C20 5.94487 19.963 5.75907 19.8912 5.58573C19.8194 5.41238 19.7142 5.25488 19.5815 5.12222ZM6.1324 18.5716L1.42915 13.867L4.2861 11.0098L6.63773 13.3626C6.70409 13.4289 6.78287 13.4816 6.86957 13.5175C6.95627 13.5534 7.0492 13.5719 7.14305 13.5719C7.2369 13.5719 7.32983 13.5534 7.41653 13.5175C7.50323 13.4816 7.58201 13.4289 7.64837 13.3626C7.71473 13.2962 7.76737 13.2174 7.80329 13.1307C7.8392 13.044 7.85768 12.9511 7.85768 12.8572C7.85768 12.7633 7.8392 12.6704 7.80329 12.5837C7.76737 12.497 7.71473 12.4182 7.64837 12.3518L5.29585 10L7.14305 8.15264L9.49468 10.5054C9.6287 10.6394 9.81047 10.7147 10 10.7147C10.1895 10.7147 10.3713 10.6394 10.5053 10.5054C10.6393 10.3713 10.7146 10.1895 10.7146 10C10.7146 9.81045 10.6393 9.62866 10.5053 9.49463L8.1528 7.1428L10 5.29543L12.3516 7.64816C12.418 7.71453 12.4968 7.76717 12.5835 7.80309C12.6702 7.83901 12.7631 7.85749 12.8569 7.85749C12.9508 7.85749 13.0437 7.83901 13.1304 7.80309C13.2171 7.76717 13.2959 7.71453 13.3623 7.64816C13.4286 7.5818 13.4813 7.50301 13.5172 7.4163C13.5531 7.32959 13.5716 7.23665 13.5716 7.1428C13.5716 7.04894 13.5531 6.956 13.5172 6.86929C13.4813 6.78258 13.4286 6.70379 13.3623 6.63743L11.0098 4.28559L13.8667 1.42839L18.5708 6.13295L6.1324 18.5716Z" fill="white" />
                </svg>
                <p>{{ section.settings.section_04_project_06_area }}</p>
              </div>
            {% endif %}

            {% if section.settings.section_04_project_06_time %}
              <div class="icon-and-text">
                <svg
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M8 0C6.94943 0 5.90914 0.206926 4.93853 0.608964C3.96793 1.011 3.08601 1.60028 2.34315 2.34315C0.842855 3.84344 0 5.87827 0 8C0 10.1217 0.842855 12.1566 2.34315 13.6569C3.08601 14.3997 3.96793 14.989 4.93853 15.391C5.90914 15.7931 6.94943 16 8 16C10.1217 16 12.1566 15.1571 13.6569 13.6569C15.1571 12.1566 16 10.1217 16 8C16 6.94943 15.7931 5.90914 15.391 4.93853C14.989 3.96793 14.3997 3.08601 13.6569 2.34315C12.914 1.60028 12.0321 1.011 11.0615 0.608964C10.0909 0.206926 9.05058 0 8 0ZM11.36 11.36L7.2 8.8V4H8.4V8.16L12 10.32L11.36 11.36Z" fill="white" />
                </svg>
                <p>{{ section.settings.section_04_project_06_time }}</p>
              </div>
            {% endif %}
          </div>
          {% render 'logo' %}
        </div>
        <img
          src="{{ section.settings.section_04_project_06_background_image | image_url: width: '800', height: '800' }}"
          alt="{{ section.settings.section_04_project_06_image_alt }}"
        >
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Section 4 - Projects Grid",
  "settings": [
    {
      "type": "text",
      "id": "section_04_title",
      "label": "Section Title",
      "default": "Know Our Projects"
    },
    {
      "type": "richtext",
      "id": "section_04_subtitle",
      "label": "Section Subitle",
      "default": "<p>We know what buyers are looking for and suggest projects that will bring clients top dollar for the sale of their homes.</p>"
    },
    {
      "type": "image_picker",
      "id": "section_04_project_01_background_image",
      "label": "Project 1 Thumbnail"
    },
    {
      "type": "text",
      "id": "section_04_project_01_image_alt",
      "label": "Project 1 Thumbnail Alt Text"
    },
    {
      "type": "text",
      "id": "section_04_project_01_title",
      "label": "Project 1 Title"
    },
    {
      "type": "text",
      "id": "section_04_project_01_location",
      "label": "Project 1 Location"
    },
    {
      "type": "text",
      "id": "section_04_project_01_area",
      "label": "Project 1 Area"
    },
    {
      "type": "text",
      "id": "section_04_project_01_time",
      "label": "Project 1 ETA"
    },
    {
      "type": "image_picker",
      "id": "section_04_project_02_background_image",
      "label": "Project 2 Thumbnail"
    },
    {
      "type": "text",
      "id": "section_04_project_02_image_alt",
      "label": "Project 2 Thumbnail Alt Text"
    },
    {
      "type": "text",
      "id": "section_04_project_02_title",
      "label": "Project 2 Title"
    },
    {
      "type": "text",
      "id": "section_04_project_02_location",
      "label": "Project 2 Location"
    },
    {
      "type": "text",
      "id": "section_04_project_02_area",
      "label": "Project 2 Area"
    },
    {
      "type": "text",
      "id": "section_04_project_02_time",
      "label": "Project 2 ETA"
    },
    {
      "type": "image_picker",
      "id": "section_04_project_03_background_image",
      "label": "Project 3 Thumbnail"
    },
    {
      "type": "text",
      "id": "section_04_project_03_image_alt",
      "label": "Project 3 Thumbnail Alt Text"
    },
    {
      "type": "text",
      "id": "section_04_project_03_title",
      "label": "Project 3 Title"
    },
    {
      "type": "text",
      "id": "section_04_project_03_location",
      "label": "Project 3 Location"
    },
    {
      "type": "text",
      "id": "section_04_project_03_area",
      "label": "Project 3 Area"
    },
    {
      "type": "text",
      "id": "section_04_project_03_time",
      "label": "Project 3 ETA"
    },
    {
      "type": "image_picker",
      "id": "section_04_project_04_background_image",
      "label": "Project 4 Thumbnail"
    },
    {
      "type": "text",
      "id": "section_04_project_04_image_alt",
      "label": "Project 4 Thumbnail Alt Text"
    },
    {
      "type": "text",
      "id": "section_04_project_04_title",
      "label": "Project 4 Title"
    },
    {
      "type": "text",
      "id": "section_04_project_04_location",
      "label": "Project 4 Location"
    },
    {
      "type": "text",
      "id": "section_04_project_04_area",
      "label": "Project 4 Area"
    },
    {
      "type": "text",
      "id": "section_04_project_04_time",
      "label": "Project 4 ETA"
    },
    {
      "type": "image_picker",
      "id": "section_04_project_05_background_image",
      "label": "Project  5 Thumbnail"
    },
    {
      "type": "text",
      "id": "section_04_project_05_image_alt",
      "label": "Project 5 Thumbnail Alt Text"
    },
    {
      "type": "text",
      "id": "section_04_project_05_title",
      "label": "Project 5 Title"
    },
    {
      "type": "text",
      "id": "section_04_project_05_location",
      "label": "Project 5 Location"
    },
    {
      "type": "text",
      "id": "section_04_project_05_area",
      "label": "Project 5 Area"
    },
    {
      "type": "text",
      "id": "section_04_project_05_time",
      "label": "Project 5 ETA"
    },
    {
      "type": "image_picker",
      "id": "section_04_project_06_background_image",
      "label": "Project 6 Thumbnail"
    },
    {
      "type": "text",
      "id": "section_04_project_06_image_alt",
      "label": "Project 6 Thumbnail Alt Text"
    },
    {
      "type": "text",
      "id": "section_04_project_06_title",
      "label": "Project 6 Title"
    },
    {
      "type": "text",
      "id": "section_04_project_06_area",
      "label": "Project 6 Area"
    },
    {
      "type": "text",
      "id": "section_04_project_06_location",
      "label": "Project 6 Location"
    },
    {
      "type": "text",
      "id": "section_04_project_06_time",
      "label": "Project 6 ETA"
    }
  ]
}
{% endschema %}
